TODO.txt
server_info.txt
figures/
proposals/
data/raw_data/
archived/
.DS_Store
.Rhistory
.Rproj.user
*.Rproj
deploy_notes.txt

wastewater-influenza-dashboard_clean_data_cases_che/

*clean_data_cases_che.csv
*confirmed_cases.csv

*.bash
